.hero {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: 
    radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/tests/frontend/assets/images/background_loja.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.hero p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  max-width: 600px;
  margin: 0 auto;
}
